html,
body,
.app {
  height: 100vh;
  padding: 1em;
  background: black;
}
.menuUserpanel {
    overflow-y: auto;
}
.label_username {
    color: white;
    padding-left: 0px;
    margin-left: 0px;
    line-height: 1.8;
}

.setting-user:hover{
  cursor: pointer;
}

