html,
body,
.app {
  height: 100vh;
  background: #1b1c1d;
  padding: 1em;
}

/* SidePanel.js */
.menu {
  padding-bottom: 2em;
}
.white{
  color:white!important;
}
/* Messages.js */
.messages {
  height: 66vh;
  overflow-y: scroll;
  max-width:1200px!important;
}

/* MessageForm.js */
.message__form {
  position: fixed !important;
  bottom: 0.3em;
  margin-left: 320px !important;
  left: 0;
  right: 1em;
  z-index: 180;
  background-color:#1b1c1d!important;

}

.big{
  font-size:32px!important;
  vertical-align: middle;
}

.centered{
  text-align: center!important;
}

.warning{
  position: absolute;
  top: 25%;

}

button{
  vertical-align: middle;
  text-align: center;
}

.wrapper{
  text-align: center;
}

link{
  vertical-align: middle;
  text-align: center;
}

.hehexd:hover{
  color:black;
  text-decoration:underline;
  cursor: pointer;
}
li{
  text-decoration: none;
}

ul{
  text-decoration: none;
}
.hehexd{
  font-size:16px;
}

.span-userpanel:hover{
  cursor: pointer;
}

span:hover{
  text-decoration: underline;
  transition: 0.5s;
}

.emoijpicker {
  position: absolute;
}

/* Message.js */
.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}


.message__image {
  padding: 1em;
  max-width:400px!important;
}

/* ProgressBar.js */
.progress__bar {
  margin: 0.3em 0 0 0 !important;
}

/* ColorPanel.js */
.color__container {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 35px;
  border-radius: 3px;
}

.color__square {
  width: 35px;
  height: 35px;
}

.color__overlay {
  width: 85px;
  height: 35px;
  transform: rotate(225deg);
}

/* Typing.js */
.user__typing {
  font-style: italic;
  font-weight: bold;
  margin-right: 3px;
}

.typing {
  width: 5em;
  height: 2em;
  position: relative;
  padding: 10px;
  margin-left: 5px;
  background: #e6e6e6;
  border-radius: 20px;
}

.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

/* Skeleton.js
.skeleton {
  position: relative;
  overflow: hidden;
  height: 40px;
  margin-bottom: 10px;
}

.skeleton::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  animation: sweep 2s infinite;
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
}

@keyframes sweep {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skeleton__avatar {
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background-color: rgba(58, 57, 57, 0.3);
}

.skeleton__author {
  background-color: rgba(58, 57, 57, 0.3);
  width: 120px;
  height: 10px;
  border-radius: 3px;
  position: absolute;
  bottom: 30px;
  left: 40px;
  right: 0;
}

.skeleton__details {
  background-color: rgba(58, 57, 57, 0.3);
  height: 20px;
  border-radius: 3px;
  position: absolute;
  bottom: 5px;
  left: 40px;
  right: 20px;
} */

/* .hahaxd{
  color:white;
  text-decoration: none;
} */

.setting-user:hover{
    cursor: pointer;
    text-decoration: underline;
}
 .add-icon:hover{
   cursor: pointer;
 }


.channels-app:hover{
  
}


.menuUserpanel{
  overflow-y: auto;
}

.hahaxd:visited{
  color:white;
}

.hahaxd:hover{
  color:white;
}

.link-chat{
  color:black;

}

.link-chat:visited{
  color:black;
}

.link-chat:hover{
  color:black;
  text-decoration: underline;
}

.lmao{
  font-weight: bold;
}

.lmao:hover{
  text-decoration: underline;
  color:gray;
  cursor: pointer;
}

.link-app{
  color:black;
  text-decoration: none;
}

.link-app:visited{
  color:black;
}

.link-app:hover{
  cursor:pointed;
  color:black;
  text-decoration: underline;
}